body {
  margin: 0;
  padding: 0;
  background-color: #7db6bf;
  background-color: #08200f;
}

h1 {
  color: #ff9100;
  margin-left: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10em auto;
  letter-spacing: 1.1px;
}

.content {
  /* background-color: white; */
  border-radius: 8px;
  height: 40vh;
  width: 500px;
  text-align: center;
}

.searchResultsStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  width: 20em;
  height: 3em;
  border: 1px solid black;
  border-radius: 16px 16px 0px 0px;
  background-color: white;
}

.search img {
  width: 15px;
  margin: 0px 10px;
}

.search input {
  outline: none;
  border: 0px;
  width: 20em;
  font-size: 16px;
  text-wrap: balance;
  text-transform: capitalize;
}

.searchResults {
  display: none;
  border-radius: 0px 0px 16px 16px;
  background-color: #faf7f7;
  margin-top: 5px;
  overflow: auto;
  height: 20em;
  width: 20em;
}

.searchResults-display {
  display: block;
}

.searchResults::-webkit-scrollbar {
  width: 10px;
}

.searchResults::-webkit-scrollbar-track {
  background: #08200f;
}

.searchResults::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ff9100;
  border-radius: 25px;
}

.searchResults ul {
  padding: 0px;
  text-align: start;
}

.searchResults ul li {
  list-style: none;
  text-transform: capitalize;
  cursor: pointer;
  padding: 10px;
  text-overflow: clip;
}
.searchResults ul li:hover {
  background-color: #7db6bf;
}
