:root {
  --primary-accent: #ff9100;
  --bg-primary: #f2f2fc;
  --bg-secondary: #fdf9ff;
  --text-primary: #333333;
  --text-secondary: #000000;
}

html {
  /* position: relative; */
  /* min-height: 100%; */
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-primary);
}

.logo {
  display: flex;
  gap: 10px;
  margin: 20px;
  color: var(--text-primary);

  flex-wrap: wrap;
  align-items: center;
}

.logo img {
  width: 120px;
}

.logo p {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
}

@media (width < 780px) {
  .logo {
    gap: 0px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10em auto;
  letter-spacing: 1.1px;
}

.content {
  border-radius: 8px;
  height: 40vh;
  width: 500px;
  text-align: center;
}

.searchResultsStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  width: 20em;
  height: 3em;
  border: 1px solid var(--text-secondary);
  border-radius: 16px 16px 0px 0px;
  background-color: var(--bg-secondary);
}

.search img {
  width: 15px;
  margin: 0px 10px;
}

.delete-icon {
  cursor: pointer;
}

.search input {
  outline: none;
  border: 0px;
  width: 20em;
  font-size: 16px;
  text-wrap: balance;
  text-transform: capitalize;
  background-color: var(--bg-secondary);
}

.searchResults {
  display: none;
  border-radius: 0px 0px 16px 16px;
  background-color: var(--bg-secondary);
  border: 1px solid var(--text-secondary);
  margin-top: 5px;
  overflow: auto;
  height: 20em;
  width: 20em;
}

.searchResults-display {
  display: block;
}

.searchResults::-webkit-scrollbar {
  width: 10px;
}

.searchResults::-webkit-scrollbar-track {
  background-color: var(--primary-accent);
  border: 4px solid transparent;
  background-clip: padding-box;
}

.searchResults::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--primary-accent);
  border-radius: 25px;
}

.searchResults ul {
  padding: 0px;
  text-align: start;
}

.searchResults ul li {
  list-style: none;
  text-transform: capitalize;
  cursor: pointer;
  padding: 10px;
  text-overflow: clip;
}
.searchResults ul li:hover {
  background-color: var(--primary-accent);
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 250px;
  background-image: url("./icons/wave.png");
  color: var(--text-secondary);
  background-size: 100% 100%;
  letter-spacing: 1px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-top: 30px;
}

footer .footer-link {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-bottom: 10px;
  width: fit-content;
}

footer .footer-link p {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;

  padding: 0px 10px;
}

footer .footer-link a {
  text-decoration: none;
  font-size: 17px;
  margin: 5px 0px;
  width: fit-content;
  color: var(--text-secondary);
  border: 1px solid var(--primary-accent);
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

footer .footer-link a:hover {
  border: 1px solid var(--text-secondary);
  border-radius: 26px;
}

footer .copyright {
  color: var(--text-secondary);
  padding: 10px;
  font-size: 16px;
  margin: 0px;
  border-top: 1px solid var(--text-primary);
  text-align: center;
}

@media (width < 780px) {
  footer {
    background-image: url("./icons/waveMobile.png");
  }
}
