*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1250px;
    min-height: 100vh;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.heading{
    width: 100%;
    .logo{
        padding: 2rem 0 .5rem 0;
        img{ 
            object-fit: contain;
            width: 110px;
        }
    }
}

.flag{
    display: flex;
    width: 100%;

    .r,.y,.b{
        width: calc(100% / 3);
        height: 2px;
    }

    .r{
        background-color: $RO-red;
    }

    .b{
        background-color: $RO-blue;
    }

    .y{
        background-color: $RO-yellow;
    }
}

.api-container{

    h1{
        font-size: 36pt;
        margin: 3rem 0;
    }

    .input-container{
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: clamp(270pt, 400pt, 100vw);

         label{
            font-size: 14pt;
            font-weight: 300;
            margin: .5rem 0;
        }

        &::after{
            content: '';
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            width: 0vw;
            height: 0vh;
            z-index: -1;
            backdrop-filter: blur(5px);
            transition: .125s;
        }

        &:focus-within{

            &::after{
                width: 100vw;
                height: 100vh;
                background: rgba(0, 0, 0, .88);
                opacity: 1;
            }

        }

       
    }

    #api-search{
        padding: .5rem;
        font-size: 17pt;
        text-align: center;
        font-weight: 400;
        border: 1px solid $glacier-mist;
        border-radius: 6px;
        background: $glacier-mist;

        ~ #api-select{
            display: none;
            opacity: 0;
        }

        &:focus{
            outline: none;

            ~ #api-select{
                display: block;
                opacity: 1;
            }
        }
    }

    .tags{
        text-align: left;
        margin: calc(.5rem + 27px) 0 .5rem 0;
        .tag{
            position: relative;
            background-color: $glacier-mist;
            display: inline-block;
            padding: .5rem 1rem;
            border-radius: 6px;
            font-size: 14pt;
            margin-right: 3pt;

            .close{
                display: inline-block;
                border-radius: 50%;
                width: 26px;
                height: 26px;
                background: white;
                border: none;
                font-size: 1.2rem;
                line-height: 1.2;
                text-align: center;
                color: $ashfall;
                cursor: pointer;
                margin: 0 10px 0 0;
            }

            &::before{
                content: attr(data-label);
                position: absolute;
                top: -25px;
                left: 0;
                text-align: center;
                width: 100%;
                color: $ashfall;
                font-size: 12pt;
                font-weight: 400;
            }
        }
    }

    #api-select{
        position: absolute;
        width: 100%;
        top: calc(100%);
        left: 0;
        font-weight: 400;
        padding: 1rem;
        font-size: 17pt;
        border-radius: 6px;
        border: 1px solid $glacier-mist;
        background-color: $glacier-mist;
        transition: .125s ease-in;
        
        span{
            font-size: 12pt;
            .icon{
                font-size: .7rem;
            }
        }

        ul{
            text-align: left;
            list-style-type: none;
            cursor: default;
            padding-left: .5rem;

            li{
                transition: .225s;
                padding: 0 0 0 14pt;
                font-size: 16pt;
                margin: 8pt 0;
                cursor: pointer;
            }
            :nth-last-child(1){
                margin: 0;
                padding-bottom: 0;
            }

            
        }
    }
}   

.doc-container{
    position: relative;
    margin: .5rem auto 0 auto;
    width: clamp(270pt, 400pt, 100vw);
}

.map{
    display: none;
}

.json{
    display: block;
    background: $glacier-mist;
    min-height: 400px;
    width: 100%;
    border-radius: 6px;
}

.toggle-input{
    position: absolute;
    top: 6px;
    right: 6px;
    width: 30px;
    height: 14px;
    border-radius: 6px;
    border: 1px solid lime;
    background: $glacier-mist;
    z-index: 0;
    cursor: pointer;

    &::before{
        content: '';
        position: absolute;
        top: 3px;
        left: 4px;
        width: 8px;
        height: 8px;
        background: $glacier-mist;
        border-radius: 50%;
        z-index: 2;
        transition: .225s ease-in;
    }

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $deep-teal;
        z-index: 1;
        border-radius: 6px;
        transition: .225s ease-in;
    }

    &:checked{

        ~ .json{
            display: none;
        }

        ~ .map{
            display: block;
        }

        &::before{
            left: 18px;
             background: white;
        }
        &::after{
            background: white;
            background: $glacier-mist;
        }
    }
}